:root .theme_dark {
  --main-title-color: #db00ff;
  --title-color: #ff0070;
  --title-decor-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --color: #f1b2ce;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --accent-bg-color: #ff0070;
  --button-color: #ff0070;
  --border-color: var(--button-color);
  --border-color-hover: rgb(from var(--border-color) r g b / 40%);
  --rec-color: #ff0070;
  --rec-display: inline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-title-color: #db00ff;
    --title-color: #ff0070;
    --title-decor-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --color: #f1b2ce;
    --accent-color: #ff0070;
    --bg-color: #000028;
    --accent-bg-color: #ff0070;
    --button-color: #ff0070;
    --border-color: var(--button-color);
    --border-color-hover: rgb(from var(--border-color) r g b / 40%);
    --rec-color: #ff0070;
    --rec-display: inline;
  }
}
